{
  "openapi": "3.0.3",
  "info": {
    "title": "CMS Marketplace API",
    "description": "RESTful API for a Content Management System Marketplace built with Laravel",
    "version": "1.0.0",
    "contact": {
      "name": "API Support",
      "email": "support@cmsmarketplace.com"
    }
  },
  "servers": [
    {
      "url": "https://api.cmsmarketplace.com/api",
      "description": "Production server"
    },
    {
      "url": "https://staging-api.cmsmarketplace.com/api",
      "description": "Staging server"
    },
    {
      "url": "http://localhost:8000/api",
      "description": "Local development server"
    }
  ],
  "tags": [
    {
      "name": "Authentication",
      "description": "User authentication operations"
    },
    {
      "name": "Users",
      "description": "User management operations"
    },
    {
      "name": "Products",
      "description": "Product catalog management"
    },
    {
      "name": "QR Codes",
      "description": "Product QR code operations"
    }
  ],
  "paths": {
    "/users": {
      "post": {
        "tags": ["Authentication"],
        "summary": "Login user",
        "description": "Authenticate user and return access token",
        "operationId": "loginUser",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LoginRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Login successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          }
        }
      },
      "get": {
        "tags": ["Users"],
        "summary": "Get current user",
        "description": "Retrieve authenticated user information",
        "operationId": "getCurrentUser",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "User retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "delete": {
        "tags": ["Authentication"],
        "summary": "Logout user",
        "description": "Logout authenticated user and invalidate token",
        "operationId": "logoutUser",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Logout successful",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Successfully logged out"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/qr/{qr_token}": {
      "post": {
        "tags": ["QR Codes"],
        "summary": "Verify QR code",
        "description": "Verify a product QR code token",
        "operationId": "verifyQrCode",
        "parameters": [
          {
            "name": "qr_token",
            "in": "path",
            "required": true,
            "description": "QR code token to verify",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "additional_data": {
                    "type": "object",
                    "description": "Any additional verification data"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "QR code verified successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QrCodeVerification"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          }
        }
      }
    },
    "/products": {
      "get": {
        "tags": ["Products"],
        "summary": "List all products",
        "description": "Retrieve a list of all products (public endpoint)",
        "operationId": "getAllProducts",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number for pagination",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "Number of items per page",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 15
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": "Search products by name or description",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort field",
            "schema": {
              "type": "string",
              "enum": ["name", "price", "created_at"],
              "default": "created_at"
            }
          },
          {
            "name": "order",
            "in": "query",
            "description": "Sort order",
            "schema": {
              "type": "string",
              "enum": ["asc", "desc"],
              "default": "desc"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Products retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductList"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["Products"],
        "summary": "Create a new product",
        "description": "Create a new product (requires authentication)",
        "operationId": "createProduct",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateProductRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Product created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Product"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          }
        }
      }
    },
    "/products/{product_id}": {
      "get": {
        "tags": ["Products"],
        "summary": "Get product by ID",
        "description": "Retrieve a single product by its ID (public endpoint)",
        "operationId": "getProduct",
        "parameters": [
          {
            "name": "product_id",
            "in": "path",
            "required": true,
            "description": "Product ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Product retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Product"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "put": {
        "tags": ["Products"],
        "summary": "Update product",
        "description": "Update an existing product (requires authentication)",
        "operationId": "updateProduct",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "product_id",
            "in": "path",
            "required": true,
            "description": "Product ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateProductRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Product updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Product"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          }
        }
      },
      "delete": {
        "tags": ["Products"],
        "summary": "Delete product",
        "description": "Delete a product (requires authentication)",
        "operationId": "deleteProduct",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "product_id",
            "in": "path",
            "required": true,
            "description": "Product ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Product deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Product deleted successfully"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/products/{product_id}/qr-code": {
      "post": {
        "tags": ["QR Codes"],
        "summary": "Create QR code for product",
        "description": "Generate a QR code for a specific product (requires authentication)",
        "operationId": "createProductQrCode",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "product_id",
            "in": "path",
            "required": true,
            "description": "Product ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "size": {
                    "type": "integer",
                    "description": "QR code size in pixels",
                    "minimum": 100,
                    "maximum": 1000,
                    "default": 300
                  },
                  "format": {
                    "type": "string",
                    "description": "QR code image format",
                    "enum": ["png", "svg"],
                    "default": "png"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "QR code created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QrCode"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "Enter your bearer token in the format: Bearer {token}"
      }
    },
    "responses": {
      "Unauthorized": {
        "description": "Unauthorized - Invalid or missing authentication token",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            },
            "example": {
              "message": "Unauthenticated.",
              "errors": {}
            }
          }
        }
      },
      "NotFound": {
        "description": "Resource not found",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            },
            "example": {
              "message": "Resource not found.",
              "errors": {}
            }
          }
        }
      },
      "ValidationError": {
        "description": "Validation error - Invalid input data",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            },
            "example": {
              "message": "The given data was invalid.",
              "errors": {
                "email": ["The email field is required."],
                "password": ["The password must be at least 8 characters."]
              }
            }
          }
        }
      }
    },
    "schemas": {
      "LoginRequest": {
        "type": "object",
        "required": ["email", "password"],
        "properties": {
          "email": {
            "type": "string",
            "format": "email",
            "description": "User email address",
            "example": "user@example.com"
          },
          "password": {
            "type": "string",
            "format": "password",
            "description": "User password",
            "minLength": 8,
            "example": "SecurePass123!"
          }
        }
      },
      "AuthResponse": {
        "type": "object",
        "properties": {
          "access_token": {
            "type": "string",
            "description": "JWT access token",
            "example": "eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9..."
          },
          "token_type": {
            "type": "string",
            "description": "Token type",
            "example": "bearer"
          },
          "expires_in": {
            "type": "integer",
            "description": "Token expiration time in seconds",
            "example": 3600
          },
          "user": {
            "$ref": "#/components/schemas/User"
          }
        }
      },
      "User": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "User ID",
            "example": 1
          },
          "name": {
            "type": "string",
            "description": "User full name",
            "example": "John Doe"
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "User email address",
            "example": "john.doe@example.com"
          },
          "role": {
            "type": "string",
            "description": "User role",
            "enum": ["admin", "vendor", "customer"],
            "example": "customer"
          },
          "avatar": {
            "type": "string",
            "format": "uri",
            "nullable": true,
            "description": "User avatar URL",
            "example": "https://example.com/avatars/user1.jpg"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "User creation timestamp",
            "example": "2024-01-15T10:30:00Z"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "User last update timestamp",
            "example": "2024-01-15T10:30:00Z"
          }
        }
      },
      "Product": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Product ID",
            "example": 1
          },
          "name": {
            "type": "string",
            "description": "Product name",
            "example": "Premium WordPress Theme"
          },
          "slug": {
            "type": "string",
            "description": "Product URL slug",
            "example": "premium-wordpress-theme"
          },
          "description": {
            "type": "string",
            "description": "Product description",
            "example": "A beautiful and responsive WordPress theme for modern websites"
          },
          "price": {
            "type": "number",
            "format": "float",
            "description": "Product price",
            "example": 59.99
          },
          "category_id": {
            "type": "integer",
            "description": "Category ID",
            "example": 1
          },
          "images": {
            "type": "array",
            "description": "Product images",
            "items": {
              "type": "string",
              "format": "uri"
            },
            "example": [
              "https://example.com/products/theme1-preview.jpg",
              "https://example.com/products/theme1-detail.jpg"
            ]
          },
          "rating": {
            "type": "number",
            "format": "float",
            "description": "Average product rating",
            "minimum": 0,
            "maximum": 5,
            "example": 4.5
          },
          "reviews_count": {
            "type": "integer",
            "description": "Number of reviews",
            "example": 42
          },
          "downloads": {
            "type": "integer",
            "description": "Number of downloads",
            "example": 1250
          },
          "version": {
            "type": "string",
            "description": "Product version",
            "example": "1.2.0"
          },
          "is_active": {
            "type": "boolean",
            "description": "Product active status",
            "example": true
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Product creation timestamp",
            "example": "2024-01-15T10:30:00Z"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "Product last update timestamp",
            "example": "2024-01-15T10:30:00Z"
          }
        }
      },
      "CreateProductRequest": {
        "type": "object",
        "required": ["name", "description", "price"],
        "properties": {
          "name": {
            "type": "string",
            "description": "Product name",
            "minLength": 3,
            "maxLength": 255,
            "example": "Premium WordPress Theme"
          },
          "description": {
            "type": "string",
            "description": "Product description",
            "minLength": 10,
            "example": "A beautiful and responsive WordPress theme for modern websites"
          },
          "price": {
            "type": "number",
            "format": "float",
            "description": "Product price",
            "minimum": 0,
            "example": 59.99
          },
          "category_id": {
            "type": "integer",
            "description": "Category ID",
            "example": 1
          },
          "images": {
            "type": "array",
            "description": "Product images URLs",
            "items": {
              "type": "string",
              "format": "uri"
            }
          },
          "version": {
            "type": "string",
            "description": "Product version",
            "example": "1.0.0"
          }
        }
      },
      "UpdateProductRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Product name",
            "minLength": 3,
            "maxLength": 255,
            "example": "Premium WordPress Theme"
          },
          "description": {
            "type": "string",
            "description": "Product description",
            "minLength": 10,
            "example": "A beautiful and responsive WordPress theme for modern websites"
          },
          "price": {
            "type": "number",
            "format": "float",
            "description": "Product price",
            "minimum": 0,
            "example": 59.99
          },
          "category_id": {
            "type": "integer",
            "description": "Category ID",
            "example": 1
          },
          "images": {
            "type": "array",
            "description": "Product images URLs",
            "items": {
              "type": "string",
              "format": "uri"
            }
          },
          "version": {
            "type": "string",
            "description": "Product version",
            "example": "1.0.0"
          },
          "is_active": {
            "type": "boolean",
            "description": "Product active status",
            "example": true
          }
        }
      },
      "ProductList": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Product"
            }
          },
          "meta": {
            "type": "object",
            "properties": {
              "current_page": {
                "type": "integer",
                "example": 1
              },
              "from": {
                "type": "integer",
                "example": 1
              },
              "last_page": {
                "type": "integer",
                "example": 10
              },
              "per_page": {
                "type": "integer",
                "example": 15
              },
              "to": {
                "type": "integer",
                "example": 15
              },
              "total": {
                "type": "integer",
                "example": 150
              }
            }
          }
        }
      },
      "QrCode": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "QR code ID",
            "example": 1
          },
          "product_id": {
            "type": "integer",
            "description": "Associated product ID",
            "example": 1
          },
          "token": {
            "type": "string",
            "description": "Unique QR code token",
            "example": "abc123def456"
          },
          "qr_code_url": {
            "type": "string",
            "format": "uri",
            "description": "URL to the QR code image",
            "example": "https://example.com/qr-codes/abc123def456.png"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "QR code creation timestamp",
            "example": "2024-01-15T10:30:00Z"
          },
          "expires_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "QR code expiration timestamp",
            "example": "2025-01-15T10:30:00Z"
          }
        }
      },
      "QrCodeVerification": {
        "type": "object",
        "properties": {
          "valid": {
            "type": "boolean",
            "description": "Whether the QR code is valid",
            "example": true
          },
          "product": {
            "$ref": "#/components/schemas/Product"
          },
          "message": {
            "type": "string",
            "description": "Verification message",
            "example": "QR code verified successfully"
          },
          "verified_at": {
            "type": "string",
            "format": "date-time",
            "description": "Verification timestamp",
            "example": "2024-01-15T10:30:00Z"
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "description": "Error message",
            "example": "An error occurred"
          },
          "errors": {
            "type": "object",
            "description": "Detailed validation errors",
            "additionalProperties": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "example": {
              "email": ["The email field is required."]
            }
          }
        }
      }
    }
  }
}
